<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QL_GiuXe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="QL_GiuXe.Properties.Settings.Bai_Xe_TMConnectionString2"
      connectionString="Data Source=ADMIN\LTH;Initial Catalog=Bai_Xe_TM;User ID=sa;Password=sa2012"
      providerName="System.Data.SqlClient" />
    <add name="QL_GiuXe.Properties.Settings.Bai_Xe_TMConnectionString"
      connectionString="Data Source=ADMIN\LTH;Initial Catalog=Bai_Xe_TM;User ID=sa;Password=sa2012"
      providerName="System.Data.SqlClient" />
    <add name="QL_GiuXe.Properties.Settings.Bai_Xe_TMConnectionString1"
      connectionString="Data Source=ADMIN\LTH;Initial Catalog=Bai_Xe_TM;User ID=sa;Password=sa2012"
      providerName="System.Data.SqlClient" />
    <add name="QL_GiuXe.Properties.Settings.Bai_Xe_TMConnectionString3"
      connectionString="Data Source=ADMIN\LTH;Initial Catalog=Bai_Xe_TM;User ID=sa;Password=sa2012"
      providerName="System.Data.SqlClient" />
    <add name="QL_GiuXe.Properties.Settings.Bai_Xe_TMConnectionString4"
      connectionString="Data Source=ADMIN\LTH;Initial Catalog=Bai_Xe_TM;User ID=sa;Password=sa2012"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <userSettings>
    <QL_GiuXe.Properties.Settings>
      <setting name="HinhAnh" serializeAs="String">
        <value />
      </setting>
      <setting name="DuPhong" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera_IP_Trai_1" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera_IP_Trai_2" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera_IP_Trai_Cong_1" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera_IP_Trai_Cong_2" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera_IP_Trai_TaiKhoan_1" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera_IP_Trai_TaiKhoan_2" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera_IP_Trai_MatKhau_1" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera_IP_Trai_MatKhau_2" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera_IP_Phai_1" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera_IP_Phai_2" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera_IP_Phai_TaiKhoan_1" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera_IP_Phai_TaiKhoan_2" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera_IP_Phai_MatKhau_1" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera_IP_Phai_MatKhau_2" serializeAs="String">
        <value />
      </setting>
      <setting name="DocThe_Trai" serializeAs="String">
        <value />
      </setting>
      <setting name="DocThe_Phai" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera_IP_Phai_Cong_1" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera_IP_Phai_Cong_2" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera_Chuoi_Trai_1" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera_Chuoi_Trai_2" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera_Chuoi_Phai_1" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera_Chuoi_Phai_2" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera_Hang_Trai_1" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera_Hang_Trai_2" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera_Hang_Phai_1" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera_Hang_Phai_2" serializeAs="String">
        <value />
      </setting>
      <setting name="BaudRate" serializeAs="String">
        <value />
      </setting>
      <setting name="Connect" serializeAs="String">
        <value>Data Source=ADMIN\LTH;Initial Catalog=Bai_Xe_TM;User ID=sa;Password=sa2012</value>
      </setting>
      <setting name="Full" serializeAs="String">
        <value />
      </setting>
      <setting name="Diff" serializeAs="String">
        <value />
      </setting>
      <setting name="Log" serializeAs="String">
        <value />
      </setting>
      <setting name="FolderBackUp" serializeAs="String">
        <value />
      </setting>
    </QL_GiuXe.Properties.Settings>
  </userSettings>
</configuration>
