<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <userSettings>
    <QL_GiuXe.Properties.CauHinhHeThong>
      <setting name="HinhAnh1" serializeAs="String">
        <value />
      </setting>
      <setting name="DuPhong1" serializeAs="String">
        <value />
      </setting>
    </QL_GiuXe.Properties.CauHinhHeThong>
  </userSettings>
</configuration>